#menu {
    padding: 10px 0 0 0;
    /* height: 85px; */
} 

#menu #rotate button{
    height: 64px;
    width: 64px
}

#menu #rotate button i.bi{
    font-size: 32px;
}


/* 
#menu #rotate{
    float: left;
    height: 85px;
    padding: 0 20px 0 10px;
}

#menu #create{
    float: left;
    height: 85px;
    width: 200px;
}
 */


#create-scale {
    width: 162px;
    padding-top: 5px;
}

#create-scale .input-group-text{
    font-size: .75rem;
}


#info{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    /* margin-left: 150px; */
    z-index: 1000;
    background-color: purple;
    color: wheat;
    opacity: .5;
}

